/* sidebar header */
/* .wy-side-nav-search {
    background-color: #3d4d3d;
} */

.icon.icon-home {
    font-size: 150%;
}

/* sidebar navigation menu */
.wy-nav-side a {
    /* background-color: #6e7a6e; */
    font-size: 110%;
}

/* sidebar navigation menu on hover */
/* .wy-nav-side a:hover {
    background-color: #9ea69e;
} */

/* hyperlinks */
/* a {
    color: #3d4d3d;
} */

/* hyperlinks */
/* #contents a:hover {
    color: #9ea69e;
} */

/* actual content area */
/* .wy-nav-content {
    background-color: #000000;
} */

/* outer wrap around content */
/* .wy-nav-content-wrap {
    background-color: #000000;
} */